client/MultiMC/instances/1.12.2/.minecraft/resourcepacks
client/MultiMC/instances/1.12.2/.minecraft/resourcepacks/*
\client\MultiMC\instances\1.12.2\.minecraft\resourcepacks
\client\MultiMC\instances\1.12.2\.minecraft\resourcepacks\*
client\MultiMC\instances\1.12.2\.minecraft\resourcepacks\ChromaHills-128x-1.12.zip